body {
    background-color: #483d8b;
}

header img {
    display: block;
    margin: auto;
    height: 300px;
    width: 300px;
}

.title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: navy;
    background-color: gray;
    border: solid navy 5px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
}

.title:hover {
    color: aqua;
    background-color: blueviolet;
    font-style: italic;
    border: solid aqua 5px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    transition: all 0.5s;
}

.timer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: yellow;
    background-color: brown;
    float: right;
    border: solid yellow 5px;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    padding: 30px;
    margin: 20px;
    margin-right: 40px;
    margin-bottom: 0px;
}

.container {
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
    background-color: gray;
    border: solid navy 5px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    height: 800px;
}

.container h1 {
    padding-bottom: 35px;
}

.container:hover {
    color: aqua;
    background-color: blueviolet;
    font-style: italic;
    border: solid aqua 5px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    height: 800px;
    transition: all 0.5s;
}

.subcontainer {
    float: left;
    align-items: center;
    justify-content: center;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: navy;
    background-color: gray;
    border: solid navy 5px;
    border-radius: 15px;
    height: 400px;
    width: 750px;
    margin: 25px;
    padding: 30px;
}

.subcontainer:hover {
    float: left;
    align-items: center;
    justify-content: center;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: aqua;
    background-color: blueviolet;
    border: solid aqua 5px;
    border-radius: 15px;
    height: 400px;
    width: 750px;
    margin: 25px;
    padding: 30px;
    transition: all 0.5s;
}

#question {
    font-size: 20px;
}

.btn {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: aqua;
    background-color: blueviolet;
    border: solid aqua 5px;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    margin: 10px;
    cursor: pointer;
}

.btn:hover {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: brown;
}

.buttonNext {
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    color: gray;
    background-color: navy;
    border: solid gray 5px;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    margin: 10px;
    cursor: pointer;
}

.buttonNext:hover {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: blueviolet;
    background-color: aqua;
    border: solid blueviolet 5px;
    border-radius: 10px;
    height: 50px;
    width: 600px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.secondsubcontainer img {
    float: right;
    margin-top: 140px;
    margin-right: 22px;
    height: 250px;
    width: 250px;
}

.footer {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: navy;
    background-color: gray;
    border: solid navy 5px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
}

.footer:hover {
    color: aqua;
    background-color: blueviolet;
    font-style: italic;
    border: solid aqua 5px;
    border-radius: 15px;
    padding: 30px;
    margin: 20px;
    transition: all 0.5s;
}






